@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&display=swap');

.countdownContainer {
  display: flex;
  align-items: center;
  color: white;
  font-family: 'Montserrat', sans-serif;
  padding: 0 20px;
}

.timeBlock {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.timeNumber {
  font-size: 22px;
  font-weight: 700;
}

.timeLabel {
  font-size: 12px;
  margin-top: 3px;
  font-weight: 400;
}

.separator {
  margin: 0 8px;
  font-size: 22px;
  font-weight: 700;
}


@media screen and (max-width: 1024px) {
  .separator,
  .timeNumber{
    font-size: 12px;
  }

  .timeLabel{
    font-size: 6px;
  }
}
